@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Open+Sans:wght@400;600;700;800&family=Roboto+Mono:wght@400;500;700&display=swap');

$primary-purple: #7937AC;
$border-gray: #e6e6e6;

%col-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

%row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}
